* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lora', sans-serif;
    background-color: #121212;
    color: #ffffff;
    line-height: 1.6;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1b1b1b;
    padding: 20px 0;
    z-index: 999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}


nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ccc;
    font-size: 16px;
    transition: color 0.6s;
}

nav ul li a:hover {
    color: #313836;
}

.whatsapp-btn {
    background-color: #25d366;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    transition: transform 0.3s ease;
}

.whatsapp-btn:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

/* Hero Section */
.hero {
    height: 100vh;
    background: url('foto2.jpeg') no-repeat center center/cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Sobreposição escura */
}

.hero-text {
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 20px;
}

.hero-text h2 {
    font-size: 3rem;
    animation: fadeIn 1.5s ease-in-out;
}

.hero-text p {
    margin: 20px 0;
    font-size: 1.2rem;
    animation: fadeIn 2s ease-in-out;
}

.btn-primary {
    background-color: #ffcc00;
    color: #121212;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.btn-primary:hover {
    background-color: #555;
    transform: scale(1.0);
    transition: background-color 0.7s, transform 0.3s
}


/* About Section */
.about-content {
    position: relative;
    background: url('foto1.jpeg') no-repeat center center/cover;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150vh;
}

.about-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Sobreposição escura */
}

.about-text {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
}
.about-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    .logo img {
        width: 100px;
    }

    .hero-text h2 {
        font-size: 2rem;
    }

    .about-content {
        padding: 40px;
    }

    .about-text h2 {
        font-size: 2rem;
    }
}

/* Contato */
.contact {
    padding: 100px 20px;
    background-color: #121212;
    text-align: center;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.contact label {
    display: block;
    margin: 10px 0 5px;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.contact input[type="submit"] {
    background-color: #ffcc00;
    color: #121212;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.contact input[type="submit"]:hover {
    transform: scale(1.1);
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #1b1b1b;
    color: #ccc;
}

/* Responsividade */
@media (max-width: 768px) {
    .hero-text h2 {
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .service-cards, .portfolio-gallery {
        flex-direction: column;
        align-items: center;
    }

    .card, .portfolio-item {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}

/* Serviços */
.services {
    padding: 100px 20px;
    background-color: #1b1b1b;
    text-align: center;
}

.service-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: #292929;
    width: 48%;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* Logo */
.logo {
    width: 200px;
    height: 100px;
    background-image: url('logo1.jpeg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
}

/* Responsividade da logo */
@media (max-width: 768px) {
    .logo {
        width: 150px;
        height: 75px;
    }
}

/* Estilização do player do YouTube */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporção 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background-color: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Ajustes adicionais para a seção about se necessário */
.about-text {
    padding: 20px;
}

@media (max-width: 768px) {
    .about-text {
        padding: 15px;
    }
}

/* Comunidade Develop Section */
.develop {
     background-color: #151617; /* Cor de fundo levemente mais clara */
    padding: 60px 0; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
    display: flex; /* Torna a seção flexível */
    flex-direction: column; /* Direção em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center; /* Alinha o texto ao centro */
    min-height: 400px; /* Define uma altura mínima para o fundo */
}

.develop-content h2 {
       color: #ffcc00; /* Cor do título */
    font-size: 2.5rem;
    margin-bottom: 20px;


.develop-content p {
    color: #cccccc; /* Cor do texto */
    font-size: 1.1rem;
    line-height: 1.8;
    max-width: 800px; /* Limita a largura para não ficar muito extensa */
}

.btn-develop{
     display: inline-block;
  padding: 10px 25px;
  background-color: #ff5722; /* Cor personalizada para o botão Participe Agora */
  color: #ffffff;
  border: none;
  border-radius: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Efeito suave */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); /* Sombra suave similar ao botão 
}

.btn-develop:hover {
   background-color: #ffd633; /* Efeito hover */
    color: #000;

/* Estilo para a seção da Comunidade Develop */
.develop-section {
    padding: 50px 0;
    text-align: center;
    background-color: #1c1c1c;
}

.develop-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.develop-section p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #d3d3d3;
}

.cta-btn {
    display: inline-block;
    background-color: #25d366;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.cta-btn:hover {
    background-color: #1ebe57;
}


/* Ajuste do texto */
.section-comunidade h2 {
    color: #ffcc00; /* Mantém a cor do título destacada */
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.section-comunidade p {
    color: #cccccc; /* Texto com contraste adequado no novo fundo */
    font-size: 1.1rem;
    line-height: 1.8;
}

/* Estilo para o botão */
.section-comunidade .button {
    background-color: #ffcc00;
    color: #121212;
    padding: 15px 30px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.section-comunidade .button:hover {
    background-color: #ffd633; /* Efeito hover suave */
    color: #000;
}

